:root {
  --spacing: 2rem;
  --color-white: #fff;
  --color-black: #120c25;
  --color-accent: #1c2a40;
  --color-text-blue: #1c2a40;
  --color-text-white: #fff;
  --max-width: 768px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: var(--color-text-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main,
footer {
  width: 100%;
}


.bg {
  /* The image used */
  background-image: url("../assets/images/header.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.headerImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}



p {
  max-width: 50rem;
}

img {
  max-width: 100%;
}

.text-with-background {
  color: var(--color-text-white);
  background-color: var(--color-accent);
  padding: 6rem 0;
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.7;
}

.text-centered {
  padding: 0 1rem;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
