:root {
  --spacing: 2rem;
  --color-white: #fff;
  --color-black: #120c25;
  --color-accent: #1c2a40;
  --color-text-blue: #1c2a40;
  --color-text-white: #fff;
  --max-width: 768px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 1418px) {
  .warning {
    display: none;
  }
}


.warning{
  background-color: #ffffff;
  width:100vw;
  height:100vh;
  z-index: 300;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position:fixed;
  overflow-y: hidden;
  text-align: center;
}

.warning_p{
  margin-top: 50vh;
  max-width: inherit;
}


body {
  font-family: "IBM Plex Serif", "Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: var(--color-text-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main,
footer {
  width: 100%;
}


.headerImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}


h2{
  max-width: 50rem;
}

p {
  max-width: 50rem;
  margin: 40px 0 0 0;
}



img {
  max-width: 100%;
}

.big-text{
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.7;
}

.small-text{
  font-size: 1.4em;
  text-align: left;
  line-height: 1.5;
}


.text-with-background {
  color: var(--color-text-white);
  background-color: var(--color-accent);
  padding: 6rem 0;
}

.text-centered {
  padding: 0 1rem;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
